* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #eee;
  text-decoration: none;
}
body {
  background: #0f172a;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  font-size: 1.5rem;
  padding-top: 3%;
}

.description {
  color: rgb(184, 184, 184);
  line-height: 2;
}
.filters {
  display: flex;
  gap: 12px;
  margin-bottom: 24px;
}

.filter_button {
  border: 1px solid #595c5f;
  border-radius: 20px;
  background: none;
  height: 40px;
  padding: 0 16px;
  white-space: nowrap;
  cursor: pointer;
  transition: background 0.25s ease-in-out, color 0.25s ease-in-out;
}

.filter_button:hover {
background: rgb(115, 183, 115);
color: #111;
}
.filter_button.green {
    background-color: rgb(115, 183, 115);
    color: #111;
}

/* La grid  */

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
  padding: 0 10%;
}

.project-card {
  background-color: #020617;
  border-radius: 11px;
  overflow: hidden;
  position: relative;
  border: 1px solid #1f2937;
   transition: transform 0.20s ease, box-shadow 0.20s ease, border-color 0.20s ease; 
}



.boxcontainer {
  position: relative;
  overflow: hidden;
 
}

.boxcontainer img {
  width: 100%;
  display: block;
  height: 170px;
  object-fit: cover;
}

.project-card:hover {
    transform: translateY(-4%);
    border-color: green;
}


.overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  display: flex;
  align-items: flex-end;
  padding: 12px 14px;
}


.overlay-text {
  font-size: 0.8rem;
  color: #e5e7eb;
}

/* Badge */
.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 0.7rem;
  font-weight: 600;
  text-transform: uppercase;
  background: rgba(34, 197, 94, 0.266);
  color: #42c873;
  border: 1px solid rgba(34,197,94,0.5);
}

/* Texte de la carte */
.project-body {
  padding: 14px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.project-title {
  font-size: 1rem;
  font-weight: 600;
}

.project-year {
  font-size: 0.75rem;
  color: #9ca3af;
}

.project-desc {
  font-size: 0.85rem;
  color: #9ca3af;
  line-height: 1.8;
}

/* Pied de carte */
.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
}

.project-tags {
  font-size: 0.75rem;
  color: #6b7280;
}

.view-btn {
  background-color: #22c55e;
  color: #020617;
  font-size: 0.78rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  padding: 6px 12px;
  border-radius: 940px;
  border: none;
  cursor: pointer;
}




    