* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

#barreDeNaviguation {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #2c3e50;
}

.logo img {
  height: 50px;
}

#barreDeNaviguation ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  list-style: none;
}

#barreDeNaviguation ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  height: 200px;
  width: 100%;
}

header {
  height: 260px;
  color: #333;
  background: #ecf0f1;
  text-align: center;
  padding: 60px;
  font-size: 2rem;
}

.menu-deroulant,
.menu-deroulant a {
  text-decoration: none;
  color: rgb(120, 0, 212);
}

.menu-conteneur {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120%;
  visibility: hidden;
  transition: opacity 0.3s ease;
}

.menu-conteneur a {
  padding: 3px;
}
.menu-conteneur.visible {
  visibility: visible;
  opacity: 1;
}

.container_projet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 20px;
}

.box {
  box-shadow: 12px 3px 0 #fdf6f6;
  border-radius: 10px;
  overflow: hidden;
  height: 313px;
  width: 420px;
}

p {
  margin: 25px;
}

.titre-jeu {
  margin: 25px;
  font-weight: bold;
  font-size: 1.2rem;
}
footer {
  border: solid;
  height: 70px;
  background: #2c3e50;
  color: white;
  text-align: center;
  display: block;
  margin-top: 40px;
}
