* {
  box-sizing: border-box; /* padding et border inclus dans la largeur */
  margin: 0;
  padding: 0;
}

body {
  background: rgb(77, 75, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}
#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(255, 254, 254);
  border-radius: 15px;
  max-width: 500px;

  overflow: hidden;
  padding: 20px;
  display: grid;
  gap: 20px;
}

#display {
  width: 100%;
  padding: 15px;
  font-size: 2rem;
  background: black;
  color: white;
  border-radius: 10px;
  text-align: right;
}
#buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 100px;
  border-radius: 10px;
  border: none;
  background: rgba(128, 128, 128, 0.164);
  font-size: 2rem;
  cursor: pointer;
}

#equal_button {
  grid-column: span 2;
  background: rgba(129, 127, 127, 0.164);
  background: rgb(105, 177, 105);
  color: rgb(212, 207, 207);
}

button:hover {
  background: rgba(129, 127, 127, 0.377);
}

button:active {
  background: rgba(129, 127, 127, 0.527);
}
#equal_button:hover {
  background: rgba(129, 127, 127, 0.377);
}

#equal_button:active {
  background: rgba(129, 127, 127, 0.377);
}

#Erase_button {
  background: rgba(207, 36, 36, 0.87);
  color: rgb(212, 207, 207);
}
.operator_orange_button {
  background: rgba(221, 139, 44, 0.897);
  color: rgb(212, 207, 207);
}
